.mainCotnainer
{
    
    margin-left: 15%;
    padding-top: 2%;
    padding-left: 4%;
    /* height: 20px; */
    /* width: 480px; */
    /* border-style: ridge; */
    height: 80vh;
    width: 40vw;
    background-color: rgb(241, 243, 244);
    
    /* border-radius: 100%; */
    /* width: 10%; */

    display: flexbox;
    /* eight: 00%; */
    

    
}
.pr
{
    width: 32vw;
}
.rad
{
  height: 100%;
  width: 100%;
  border-radius: 100%;
}
.headingMargin
{
    margin-left: 10vw;
}